* {
    margin: 0 0 0 0;
    padding: 0;
  }
html, 
body {
    height: 100%;
    scroll-behavior: smooth; 
  }
body {
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
}

nav {
    display: block;
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: #9eb97c;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link {
    display: inline-block;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    transition: all 0.3s;
    transform: scale(1);  
}

.nav-link:visited, 
.dropdown-item:visited{
    color: #ffffff;
}

.nav-link:hover, 
.dropdown-item:hover{
    color: #60714a;
    transform: scale(1.2);
}
.nav-link:link, 
.dropdown-item:link{
    color: #ffffff;
}

.dropdown {
    display: none;
    justify-content: space-between;
    padding: 8px 20px;
}
.dropdown>p {
    padding: 8px 30px;
    font-size: 25px;
    color: #ffffff;
}
#dropdown-check {
    opacity: 0;
}
.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 15%;
    font-size: 20px;
    color: #ffffff;
    background-color: #9eb97c;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.dropdown-btn {
    transition: all 0.3s;
    transform: scale(1);
}
.dropdown-btn:active {
    transform: scale(0.8);
}
.dropdown-menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 50px;
    right: -100%;
    width: 20%;
    text-align: center;
    line-height: 20%;
    background: #9eb97c;
}
.dropdown-item {
    text-decoration-line: none;
    transition: all 0.3s;
    transform: scale(1);
}

#dropdown-check:checked ~ .dropdown-menu {
    right: 0;
    visibility: visible;
}
.dropdown-menu:hover {
    right: -100%;
    visibility: hidden;
}
.head-profile {
    display: flex;
    justify-content: space-between;
    margin: 3% 11% 0 15%;
}


.head-title img {
    display: block;
    width: 35%;
    margin: auto 0;
    margin-right: 3%;
}
.head-title {
    display: flex;  
    justify-content: space-between;
}

.head-title-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
}

.head-title-name h1 {
    font-size: 500%;
}
.head-title-name h4 {
    padding: 3%;
    font-style: italic;
    font-size: 200%;
}
.head-contact {
    padding: 3% 2% 3% 2%;
    line-height: 400%;
    background-color: #adccff3b;
}
.head-contact>ul>li>svg {
    width: 26px; 
    height: 26px; 
}
.head-contact>ul, 
main>section>p,  
ul>li {
    font-style: italic;
    font-size: 22px;
}
header>hr {
    height: 10px;
    margin: 1% 11% 2% 15%;
    background-color: #d6efb9;
    border: none;
}

h2 {
    font-size: 200%;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 10% 0 15%;
}

main>section { 
    width: 49%;
    margin-bottom: 2%;
    margin-right: 1%;
}

main>section>hr { 
    height: 3px;
    margin-bottom: 2%;
    background-color: #7090c3;
    border: none;
}

main>section>p, 
ul>li { 
    line-height: 200%;
    list-style-type: none;
}
.main-education>h2::before, 
.main-experience>h2::before,
.main-project>h2::before, 
.main-codeexample>h2::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    margin-right: 5px;
    background: #7090c3;
}
.text-small {
    font-style: italic;
    font-size: 18px;
}
svg {
    margin-right: 5px;
    width: 25px; 
    height: 25px;
    vertical-align: middle; 
    fill: currentColor;
    color: #60714a;
}
.main-project>p>a {
    color: #7090c3;
    text-decoration-line: none;
}
.main-project>p>a:visited {
    color: #7090c3;
}
.main-project>p>a:link {
    color: #60714a;  
}
.main-project>p>:active {
    color: #000000;
    
}
.main-project>p>a:hover {
    color: #60714a;
}

.main-personality>ul>li {
    line-height: 150%;
    list-style-type: none;
}

.main-codeexample>pre>code  {
    font-size: 15px;
    font-style: italic;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
    height: 40px;
    align-items: center;
    background-color: #9eb97c;
}
footer>a>img {
    height: 40px;
}
footer>a {
    text-decoration-line: none;
}
footer>a>p {
    font-size: 20px;
    color: #000000;
}
@media(max-width: 1211px){
    .head-profile {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    main>section {
        width: 98%;
    }
    .nav-list { 
        display: none;
    }
    .dropdown {
        display: flex !important;
    }  
}
@media(max-width: 1290px){
    .head-profile, 
    header>hr, 
    main {
        margin: 3% 2% 0 2%;
    }
    .head-contact>ul {
        line-height: 250%;
    }
}
@media(max-width: 1742px){
    .head-profile, 
    header>hr, 
    main {
        margin: 3% 6% 0 6%;
    }
    .head-contact>ul {
        line-height: 250%;
    }
}

